<div>
  <h2 id="page-heading" data-cy="SettingsInvoiceUnitHeading">
    <span jhiTranslate="billingNgMongoApp.settingsInvoiceUnit.home.title">Settings Invoice Units</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="billingNgMongoApp.settingsInvoiceUnit.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-settings-invoice-unit-billing"
        [routerLink]="['/settings-invoice-unit-billing/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="billingNgMongoApp.settingsInvoiceUnit.home.createLabel"> Create a new Settings Invoice Unit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="settingsInvoiceUnits?.length === 0">
    <span jhiTranslate="billingNgMongoApp.settingsInvoiceUnit.home.notFound">No settingsInvoiceUnits found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="settingsInvoiceUnits && settingsInvoiceUnits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="seller">
            <span jhiTranslate="billingNgMongoApp.settingsInvoiceUnit.seller">Seller</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="personBuyerId">
            <span jhiTranslate="billingNgMongoApp.settingsInvoiceUnit.personBuyerId">Person Buyer Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="personRefererCopys">
            <span jhiTranslate="billingNgMongoApp.settingsInvoiceUnit.personRefererCopys">Person Referer Copys</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="subscriptionId">
            <span jhiTranslate="billingNgMongoApp.settingsInvoiceUnit.subscriptionId">Subscription Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="useBillingAddress">
            <span jhiTranslate="billingNgMongoApp.settingsInvoiceUnit.useBillingAddress">Use Billing Address</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paymentMethod">
            <span jhiTranslate="billingNgMongoApp.settingsInvoiceUnit.paymentMethod">Payment Method</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let settingsInvoiceUnit of settingsInvoiceUnits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/settings-invoice-unit-billing', settingsInvoiceUnit.id, 'view']">{{ settingsInvoiceUnit.id }}</a>
          </td>
          <td>{{ settingsInvoiceUnit.seller }}</td>
          <td>{{ settingsInvoiceUnit.personBuyerId }}</td>
          <td>{{ settingsInvoiceUnit.personRefererCopys }}</td>
          <td>{{ settingsInvoiceUnit.subscriptionId }}</td>
          <td>{{ settingsInvoiceUnit.useBillingAddress }}</td>
          <td>{{ settingsInvoiceUnit.paymentMethod }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/settings-invoice-unit-billing', settingsInvoiceUnit.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/settings-invoice-unit-billing', settingsInvoiceUnit.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(settingsInvoiceUnit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="settingsInvoiceUnits && settingsInvoiceUnits.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
