<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-payment-method-billing-heading"
        data-cy="PaymentMethodCreateUpdateHeading"
        jhiTranslate="billingNgMongoApp.paymentMethod.home.createOrEditLabel"
      >
        Create or edit a Payment Method
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="billingNgMongoApp.paymentMethod.typeOfMean" for="field_typeOfMean"
            >Type Of Mean</label
          >
          <input
            type="text"
            class="form-control"
            name="typeOfMean"
            id="field_typeOfMean"
            data-cy="typeOfMean"
            formControlName="typeOfMean"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="billingNgMongoApp.paymentMethod.accountId" for="field_accountId"
            >Account Id</label
          >
          <input type="text" class="form-control" name="accountId" id="field_accountId" data-cy="accountId" formControlName="accountId" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="billingNgMongoApp.paymentMethod.iban" for="field_iban">Iban</label>
          <input type="text" class="form-control" name="iban" id="field_iban" data-cy="iban" formControlName="iban" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
