<div>
  <h2 id="page-heading" data-cy="SettingsInvoiceHeading">
    <span jhiTranslate="billingNgMongoApp.settingsInvoice.home.title">Settings Invoices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="billingNgMongoApp.settingsInvoice.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-settings-invoice-billing"
        [routerLink]="['/settings-invoice-billing/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="billingNgMongoApp.settingsInvoice.home.createLabel"> Create a new Settings Invoice </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="settingsInvoices?.length === 0">
    <span jhiTranslate="billingNgMongoApp.settingsInvoice.home.notFound">No settingsInvoices found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="settingsInvoices && settingsInvoices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="global">
            <span jhiTranslate="billingNgMongoApp.settingsInvoice.global">Global</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="subscription">
            <span jhiTranslate="billingNgMongoApp.settingsInvoice.subscription">Subscription</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="taxPerCent">
            <span jhiTranslate="billingNgMongoApp.settingsInvoice.taxPerCent">Tax Per Cent</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="detailSkipped">
            <span jhiTranslate="billingNgMongoApp.settingsInvoice.detailSkipped">Detail Skipped</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="manualBillingOnly">
            <span jhiTranslate="billingNgMongoApp.settingsInvoice.manualBillingOnly">Manual Billing Only</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="billingActive">
            <span jhiTranslate="billingNgMongoApp.settingsInvoice.billingActive">Billing Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="perOrganization">
            <span jhiTranslate="billingNgMongoApp.settingsInvoice.perOrganization">Per Organization</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fullyAutomatic">
            <span jhiTranslate="billingNgMongoApp.settingsInvoice.fullyAutomatic">Fully Automatic</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="period">
            <span jhiTranslate="billingNgMongoApp.settingsInvoice.period">Period</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="locale">
            <span jhiTranslate="billingNgMongoApp.settingsInvoice.locale">Locale</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paymentTerms">
            <span jhiTranslate="billingNgMongoApp.settingsInvoice.paymentTerms">Payment Terms</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let settingsInvoice of settingsInvoices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/settings-invoice-billing', settingsInvoice.id, 'view']">{{ settingsInvoice.id }}</a>
          </td>
          <td>{{ settingsInvoice.global }}</td>
          <td>{{ settingsInvoice.subscription }}</td>
          <td>{{ settingsInvoice.taxPerCent }}</td>
          <td>{{ settingsInvoice.detailSkipped }}</td>
          <td>{{ settingsInvoice.manualBillingOnly }}</td>
          <td>{{ settingsInvoice.billingActive }}</td>
          <td>{{ settingsInvoice.perOrganization }}</td>
          <td>{{ settingsInvoice.fullyAutomatic }}</td>
          <td jhiTranslate="{{ 'billingNgMongoApp.Period.' + settingsInvoice.period }}">{{ settingsInvoice.period }}</td>
          <td>{{ settingsInvoice.locale }}</td>
          <td>{{ settingsInvoice.paymentTerms }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/settings-invoice-billing', settingsInvoice.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/settings-invoice-billing', settingsInvoice.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(settingsInvoice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="settingsInvoices && settingsInvoices.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
