<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-settings-invoice-billing-heading"
        data-cy="SettingsInvoiceCreateUpdateHeading"
        jhiTranslate="billingNgMongoApp.settingsInvoice.home.createOrEditLabel"
      >
        Create or edit a Settings Invoice
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="billingNgMongoApp.settingsInvoice.global" for="field_global">Global</label>
          <input type="text" class="form-control" name="global" id="field_global" data-cy="global" formControlName="global" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="billingNgMongoApp.settingsInvoice.subscription" for="field_subscription"
            >Subscription</label
          >
          <input
            type="text"
            class="form-control"
            name="subscription"
            id="field_subscription"
            data-cy="subscription"
            formControlName="subscription"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="billingNgMongoApp.settingsInvoice.taxPerCent" for="field_taxPerCent"
            >Tax Per Cent</label
          >
          <input
            type="number"
            class="form-control"
            name="taxPerCent"
            id="field_taxPerCent"
            data-cy="taxPerCent"
            formControlName="taxPerCent"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="billingNgMongoApp.settingsInvoice.detailSkipped" for="field_detailSkipped"
            >Detail Skipped</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="detailSkipped"
            id="field_detailSkipped"
            data-cy="detailSkipped"
            formControlName="detailSkipped"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="billingNgMongoApp.settingsInvoice.manualBillingOnly" for="field_manualBillingOnly"
            >Manual Billing Only</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="manualBillingOnly"
            id="field_manualBillingOnly"
            data-cy="manualBillingOnly"
            formControlName="manualBillingOnly"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="billingNgMongoApp.settingsInvoice.billingActive" for="field_billingActive"
            >Billing Active</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="billingActive"
            id="field_billingActive"
            data-cy="billingActive"
            formControlName="billingActive"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="billingNgMongoApp.settingsInvoice.perOrganization" for="field_perOrganization"
            >Per Organization</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="perOrganization"
            id="field_perOrganization"
            data-cy="perOrganization"
            formControlName="perOrganization"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="billingNgMongoApp.settingsInvoice.fullyAutomatic" for="field_fullyAutomatic"
            >Fully Automatic</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="fullyAutomatic"
            id="field_fullyAutomatic"
            data-cy="fullyAutomatic"
            formControlName="fullyAutomatic"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="billingNgMongoApp.settingsInvoice.period" for="field_period">Period</label>
          <select class="form-control" name="period" formControlName="period" id="field_period" data-cy="period">
            <option [ngValue]="null">{{ 'billingNgMongoApp.Period.null' | translate }}</option>
            <option *ngFor="let period of periodValues" [value]="period">{{ 'billingNgMongoApp.Period.' + period | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="billingNgMongoApp.settingsInvoice.locale" for="field_locale">Locale</label>
          <input type="text" class="form-control" name="locale" id="field_locale" data-cy="locale" formControlName="locale" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="billingNgMongoApp.settingsInvoice.paymentTerms" for="field_paymentTerms"
            >Payment Terms</label
          >
          <input
            type="text"
            class="form-control"
            name="paymentTerms"
            id="field_paymentTerms"
            data-cy="paymentTerms"
            formControlName="paymentTerms"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
