<div>
  <h2 id="page-heading" data-cy="InvoiceHeading">
    <span jhiTranslate="billingNgMongoApp.invoice.home.title">Invoices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="billingNgMongoApp.invoice.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-invoice-billing"
        [routerLink]="['/invoice-billing/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="billingNgMongoApp.invoice.home.createLabel"> Create a new Invoice </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="invoices?.length === 0">
    <span jhiTranslate="billingNgMongoApp.invoice.home.notFound">No invoices found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="invoices && invoices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="humanId">
            <span jhiTranslate="billingNgMongoApp.invoice.humanId">Human Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="type">
            <span jhiTranslate="billingNgMongoApp.invoice.type">Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="customerId">
            <span jhiTranslate="billingNgMongoApp.invoice.customerId">Customer Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="customerName">
            <span jhiTranslate="billingNgMongoApp.invoice.customerName">Customer Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="month">
            <span jhiTranslate="billingNgMongoApp.invoice.month">Month</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="year">
            <span jhiTranslate="billingNgMongoApp.invoice.year">Year</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="emissionDate">
            <span jhiTranslate="billingNgMongoApp.invoice.emissionDate">Emission Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="items">
            <span jhiTranslate="billingNgMongoApp.invoice.items">Items</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vat"><span jhiTranslate="billingNgMongoApp.invoice.vat">Vat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dueDate">
            <span jhiTranslate="billingNgMongoApp.invoice.dueDate">Due Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateToSend">
            <span jhiTranslate="billingNgMongoApp.invoice.dateToSend">Date To Send</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sendDate">
            <span jhiTranslate="billingNgMongoApp.invoice.sendDate">Send Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dunningSendDate">
            <span jhiTranslate="billingNgMongoApp.invoice.dunningSendDate">Dunning Send Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="creditNoteSendDate">
            <span jhiTranslate="billingNgMongoApp.invoice.creditNoteSendDate">Credit Note Send Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="billingNgMongoApp.invoice.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="comments">
            <span jhiTranslate="billingNgMongoApp.invoice.comments">Comments</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pvalidationDate">
            <span jhiTranslate="billingNgMongoApp.invoice.pvalidationDate">Pvalidation Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="validatorId">
            <span jhiTranslate="billingNgMongoApp.invoice.validatorId">Validator Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="payment">
            <span jhiTranslate="billingNgMongoApp.invoice.payment">Payment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paymentsHistoric">
            <span jhiTranslate="billingNgMongoApp.invoice.paymentsHistoric">Payments Historic</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paymentMethod">
            <span jhiTranslate="billingNgMongoApp.invoice.paymentMethod">Payment Method</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="refund">
            <span jhiTranslate="billingNgMongoApp.invoice.refund">Refund</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="purchaseOrder">
            <span jhiTranslate="billingNgMongoApp.invoice.purchaseOrder">Purchase Order</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="message">
            <span jhiTranslate="billingNgMongoApp.invoice.message">Message</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="additionalItems">
            <span jhiTranslate="billingNgMongoApp.invoice.additionalItems">Additional Items</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="totalPriceGross">
            <span jhiTranslate="billingNgMongoApp.invoice.totalPriceGross">Total Price Gross</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="refundAmount">
            <span jhiTranslate="billingNgMongoApp.invoice.refundAmount">Refund Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/invoice-billing', invoice.id, 'view']">{{ invoice.id }}</a>
          </td>
          <td>{{ invoice.humanId }}</td>
          <td jhiTranslate="{{ 'billingNgMongoApp.InvoiceType.' + invoice.type }}">{{ invoice.type }}</td>
          <td>{{ invoice.customerId }}</td>
          <td>{{ invoice.customerName }}</td>
          <td>{{ invoice.month }}</td>
          <td>{{ invoice.year }}</td>
          <td>{{ invoice.emissionDate | formatMediumDate }}</td>
          <td>{{ invoice.items }}</td>
          <td>{{ invoice.vat }}</td>
          <td>{{ invoice.dueDate | formatMediumDate }}</td>
          <td>{{ invoice.dateToSend | formatMediumDate }}</td>
          <td>{{ invoice.sendDate | formatMediumDate }}</td>
          <td>{{ invoice.dunningSendDate | formatMediumDate }}</td>
          <td>{{ invoice.creditNoteSendDate | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'billingNgMongoApp.Status.' + invoice.status }}">{{ invoice.status }}</td>
          <td>{{ invoice.comments }}</td>
          <td>{{ invoice.pvalidationDate | formatMediumDate }}</td>
          <td>{{ invoice.validatorId }}</td>
          <td>{{ invoice.payment }}</td>
          <td>{{ invoice.paymentsHistoric }}</td>
          <td>{{ invoice.paymentMethod }}</td>
          <td>{{ invoice.refund }}</td>
          <td>{{ invoice.purchaseOrder }}</td>
          <td>{{ invoice.message }}</td>
          <td>{{ invoice.additionalItems }}</td>
          <td>{{ invoice.totalPriceGross }}</td>
          <td>{{ invoice.refundAmount }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/invoice-billing', invoice.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/invoice-billing', invoice.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(invoice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="invoices && invoices.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
