<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="subscriptionFeature">
      <h2 data-cy="subscriptionFeatureDetailsHeading">
        <span jhiTranslate="billingNgMongoApp.subscriptionFeature.detail.title">Subscription Feature</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ subscriptionFeature.id }}</span>
        </dd>
        <dt><span jhiTranslate="billingNgMongoApp.subscriptionFeature.name">Name</span></dt>
        <dd>
          <span>{{ subscriptionFeature.name }}</span>
        </dd>
        <dt><span jhiTranslate="billingNgMongoApp.subscriptionFeature.lastUpdate">Last Update</span></dt>
        <dd>
          <span>{{ subscriptionFeature.lastUpdate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="billingNgMongoApp.subscriptionFeature.description">Description</span></dt>
        <dd>
          <span>{{ subscriptionFeature.description }}</span>
        </dd>
        <dt><span jhiTranslate="billingNgMongoApp.subscriptionFeature.isVisible">Is Visible</span></dt>
        <dd>
          <span>{{ subscriptionFeature.isVisible }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/subscription-feature-billing', subscriptionFeature.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
